@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Logan Kim's Fancy Winter";
}

<img id="picLogan" src="img/LoganWinter.jpg" height="400" />
<br />
<br />

<p class="Outcome">
    From IS 413 Course, I would like to learn how to develop information systems within group settings. <br />
    From the last semester courses and INTEX, I was able to learn a lot how to manage tasks within group. <br />
    I want that to happen in this semester as well. I got to learn much from my teammates, how to manage tasks in limited time, <br />
    new things that I have never heard before. From this course, I want to learn best practices models and methods of enterprise development projects. <br />

</p>
<br />

<div class="JobList">
    Top #3 jobs that are most interested to me are...<br />
    <ul>
        <li>1. Cyber Security Expert</li>
        <li>2. Technology Consultant</li>
        <li>3. Information Systems Professor</li>
    </ul>
</div>
<br />
